.hero {
  position: relative;
  top: -90px;
  min-height: 588px;

  &__picture {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;

    &-image {
      width: 100%;
      height: 100%;
      object-position: 55% 6%;
    }
  }

  &__container {
    min-height: inherit;
  }

  &__content {
    padding-top: 115px;
    padding-bottom: 81px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    min-height: inherit;
  }

  &__circle {
    margin-bottom: 10px;
    fill: var(--color-white);
  }

  &__title {
    margin-bottom: -10px;
    font-size: 69px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    color: var(--color-white);
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
  }

  &__subtitle {
    font-size: 25px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
    text-shadow: 0 0 13px rgba(0, 0, 0, 0.22);
  }

  @include high-tablet {
    &__title {
      font-size: 50px;
    }

    &__subtitle {
      font-size: 18px;
    }
  }
}
