.login {
  padding: 6px 13px 4px 13px;
  display: flex;
  align-items: center;
  gap: 5px;
  border-radius: 5px;
  background-color: var(--color-froly);

  &__image {
    width: 13px;
    height: 14px;
    fill: var(--color-white);
  }

  &__text {
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    color: var(--color-white);
    transition: color .3s ease-in-out;
  }

  &:focus-visible .login__text {
    color: var(--color-red);
  }

  &:hover .login__text {
    color: var(--color-red);
  }
}
