.marketing {
  margin-top: -90px;
  padding-top: 53px;
  padding-bottom: 52px;
  border-bottom: 2px solid var(--color-gainsboro);

  &__title {
    margin-bottom: 12px;
    font-size: 35px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--color-eclipse);
  }

  &__description {
    margin: 0 auto;
    margin-bottom: 80px;
    max-width: 814px;
    width: 100%;
    font-size: 17px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    color: var(--color-dim-gray);
  }

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
  }

  &__item {
    width: 179px;
    height: 179px;
    border-radius: 100%;

    &--tickets {
      background-color: var(--color-malibu);
    }

    &--camera {
      background-color: var(--color-christi);
    }

    &--beer {
      background-color: var(--color-sunset-orange);
    }

    &--devices {
      background-color: var(--color-carrot-orange);
    }

    &-link {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      border-radius: 100%;

      &-image {
        margin-bottom: 11px;
        fill: var(--color-white);
        transition: opacity .3s ease-in-out;

        &--tickets {
          width: 80px;
          height: 82px;
        }

        &--camera {
          width: 80px;
          height: 70px;
        }

        &--beer {
          width: 68px;
          height: 85px;
        }

        &--devices {
          width: 76px;
          height: 76px;
        }
      }

      &-name {
        font-size: 17px;
        font-weight: 400;
        line-height: normal;
        color: var(--color-white);
        transition: opacity .3s ease-in-out;
      }

      &-description {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        font-size: 12px;
        font-weight: 400;
        line-height: normal;
        text-align: center;
        color: var(--color-white);
        padding: 51px 25px 44px 25px;
        opacity: 0;
        visibility: visible;
        transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
      }

      &:hover .marketing__item-link-image,
      &:hover .marketing__item-link-name {
        opacity: .26;
      }

      &:hover .marketing__item-link-description {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @include small-tablet {
    &__list {
      justify-content: center;
    }
  }
}
