<section class="hero">
  <picture class="hero__picture">
    <source srcset="img/hero/background.webp" type="image/webp">
    <img loading="lazy" src="img/hero/background.png" class="hero__picture-image"  alt="Фоновое изображение">
  </picture>
  <div class="container hero__container">
    <div class="hero__content">
      <svg class="hero__circle">
        <use xlink:href="img/sprite.svg#heroCircle"></use>
      </svg>
      <h1 class="hero__title">
        Welcome to Pink
      </h1>
      <h2 class="hero__subtitle">
        A multi purpose theme from cssauthor.com
      </h2>
    </div>
  </div>
</section>
