<section class="marketing">
  <div class="container marketing__container">
    <h2 class="marketing__title">Lorem Ipsum is simply dummy </h2>
    <p class="marketing__description">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
    </p>
    <ul class="marketing__list list-reset">
      <li class="marketing__item marketing__item--tickets">
        <a href="#no-scrolling" class="marketing__item-link" aria-label="Tickets">
          <svg class="marketing__item-link-image marketing__item-link-image--tickets">
            <use xlink:href="img/sprite.svg#tickets"></use>
          </svg>
          <span class="marketing__item-link-name">
            Tickets
          </span>
          <span class="marketing__item-link-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </span>
        </a>
      </li>
      <li class="marketing__item marketing__item--camera">
        <a href="#no-scrolling" class="marketing__item-link" aria-label="Camera">
          <svg class="marketing__item-link-image marketing__item-link-image--camera">
            <use xlink:href="img/sprite.svg#camera"></use>
          </svg>
          <span class="marketing__item-link-name">
            Camera
          </span>
          <span class="marketing__item-link-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </span>
        </a>
      </li>
      <li class="marketing__item marketing__item--beer">
        <a href="#no-scrolling" class="marketing__item-link" aria-label="Beer">
          <svg class="marketing__item-link-image marketing__item-link-image--beer">
            <use xlink:href="img/sprite.svg#beer"></use>
          </svg>
          <span class="marketing__item-link-name">
            Beer
          </span>
          <span class="marketing__item-link-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </span>
        </a>
      </li>
      <li class="marketing__item marketing__item--devices">
        <a href="#no-scrolling" class="marketing__item-link" aria-label="Devices">
          <svg class="marketing__item-link-image marketing__item-link-image--devices">
            <use xlink:href="img/sprite.svg#devices"></use>
          </svg>
          <span class="marketing__item-link-name">
            Devices
          </span>
          <span class="marketing__item-link-description">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard
          </span>
        </a>
      </li>
    </ul>
  </div>
</section>
