<nav class="nav" title="Навигация по сайту" data-menu>
  @include('close.html')
  <ul class="nav__list list-reset">
    <li class="nav__item">
      <a href="#" class="nav__link" aria-label="Ссылка на страницу home" data-menu-item>
        Home
      </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link" aria-label="About Us" data-menu-item> About Us </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link" aria-label="Services" data-menu-item> Services </a>
    </li>
    <li class="nav__item">
      <a href="#" class="nav__link" aria-label="Contact" data-menu-item> Contact </a>
    </li>
  </ul>
</nav>
