<section class="preview">
  <div class="container">
    <ul class="preview__list list-reset">
      <li class="preview__item">
        <a href="#" class="preview__item-link">
          <picture class="preview__item-link-picture">
            <source srcset="img/preview/preview.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/preview/preview.png"
              class="preview__item-link-picture-image"
              width="199"
              height="132"
              alt="Изображение первью"
            />
          </picture>
          <div class="preview__item-link-wrapper">
            <h2 class="preview__item-link-wrapper-title">
              Lorem Ipsum is simply
            </h2>
            <p class="preview__item-link-wrapper-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </a>
      </li>
      <li class="preview__item">
        <a href="#" class="preview__item-link">
          <picture class="preview__item-link-picture">
            <source srcset="img/preview/preview.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/preview/preview.png"
              class="preview__item-link-picture-image"
              width="199"
              height="132"
              alt="Изображение первью"
            />
          </picture>
          <div class="preview__item-link-wrapper">
            <h2 class="preview__item-link-wrapper-title">
              Lorem Ipsum is simply
            </h2>
            <p class="preview__item-link-wrapper-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </a>
      </li>
      <li class="preview__item">
        <a href="#" class="preview__item-link">
          <picture class="preview__item-link-picture">
            <source srcset="img/preview/preview.webp" type="image/webp" />
            <img
              loading="lazy"
              src="img/preview/preview.png"
              class="preview__item-link-picture-image"
              width="199"
              height="132"
              alt="Изображение первью"
            />
          </picture>
          <div class="preview__item-link-wrapper">
            <h2 class="preview__item-link-wrapper-title">
              Lorem Ipsum is simply
            </h2>
            <p class="preview__item-link-wrapper-description">
              Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
