// если вы хотите использовать sass-переменные - удалите root
// colors
:root {
  // base
  --font-family: "Open-Sans", sans-serif;
  --content-width: 940px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));


  // colors
  --color-white: #ffffff;
  --color-075-white: rgba(255, 255, 255, 0.75);
  --color-black: #000000;
  --color-pine-tree: #262823;
  --color-dark-gray: #aeaeae;
  --color-eclipse: #404040;
  --color-charcoal: #454545;
  --color-dim-gray: #636363;
  --color-sirocco: #696b6a;
  --color-suva-grey: #8b8b8b;
  --color-gainsboro: #dad7d7;
  --color-red: #e70c0a;
  --color-persian-red: #C72E2C;
  --color-old-rose: #b73958;
  --color-froly: #de6d6e;
  --color-malibu: #4eb9f4;
  --color-christi: #6fc125;
  --color-sunset-orange: #ff5649;
  --color-carrot-orange: #e48f23;
  --box-shadow-page: 0 0 5px rgba(0, 0, 0, 0.11);
}
